@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'timeline.css';

/* purgecss start ignore */
body {
  @apply font-sans;
}
/* purgecss end ignore */

.outline {
  outline: none;
  @apply shadow-outline;
}
